<%= provide(:page_title, 'Home') %>
<%= provide(:home_active, 'active') %>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
      <h1 class="display-3">welcome!</h1>
      <p class="lead">check out all the cool stuff i have to offer.</p>
  </div>

  <div class="bio-group">
      <%= @posts.length %>
      <%= @projects.length %>  
  </div>
</div>
