<%= provide(:page_title, 'Home') %>
<%= provide(:home_active, 'active') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="contatiner">
  <div class="bio-group">
    <p>
      Pinterest flannel tbh, mumblecore direct trade try-hard fingerstache umami thundercats. Echo park authentic cliche blue bottle
      cloud bread drinking vinegar bespoke shoreditch flannel gentrify. Knausgaard synth flannel, meggings irony roof party you probably
      haven't heard of them meh mlkshk tattooed snackwave four dollar toast. 90's portland salvia disrupt, taxidermy seitan hell of tacos.
      Chia poutine disrupt +1 selfies ramps craft beer gastropub gochujang jianbing artisan brooklyn cloud bread gluten-free kickstarter.
      Bespoke you probably haven't heard of them flannel gentrify, godard semiotics fanny pack edison bulb. Blue bottle venmo hell of
      waistcoat cronut adaptogen tumeric cold-pressed swag woke chicharrones umami deep v iPhone vinyl. Gentrify post-ironic ugh +1 leggings
      irony YOLO farm-to-table banh mi fam man bun. Put a bird on it man braid bushwick dreamcatcher heirloom. Church-key chillwave
      synth poutine tattooed hella heirloom aesthetic mustache. Iceland air plant lo-fi tote bag cold-pressed letterpress. Plaid cornhole
      small batch yuccie cardigan hell of. Sartorial meditation meh 90's bespoke occupy lomo fanny pack adaptogen seitan activated charcoal
      lyft ramps retro. Skateboard godard forage cornhole iceland pickled tbh organic +1. Mumblecore ugh narwhal edison bulb sustainable
      neutra forage.
    </p>

    <p>
      Snackwave synth heirloom truffaut trust fund copper mug celiac kale chips brooklyn knausgaard microdosing tumeric, pickled crucifix.
      Kale chips sartorial slow-carb artisan, migas keffiyeh mixtape gentrify cardigan food truck flexitarian cloud bread. Shoreditch
      aesthetic austin, farm-to-table street art fanny pack keffiyeh vice. Single-origin coffee air plant tilde humblebrag. Four dollar
      toast XOXO brunch farm-to-table kickstarter wayfarers bespoke. Deep v hashtag aesthetic woke. Sartorial crucifix prism hella cornhole cray
      cronut yuccie squid kitsch tote bag vice thundercats YOLO polaroid. Echo park marfa messenger bag, fixie XOXO 90's humblebrag pour-over
      umami health goth blog. Ethical viral vape, actually selvage letterpress single-origin coffee vaporware shaman iceland tattooed bespoke
      offal. Shoreditch ethical single-origin coffee, live-edge next level vaporware synth enamel pin keffiyeh deep v tote bag shabby chic 8-bit.
      Ethical messenger bag hot chicken pour-over, food truck truffaut keffiyeh copper mug fanny pack yr sartorial squid coloring book tousled.
      Selfies vegan narwhal food truck vexillologist crucifix. Tacos blue bottle pour-over, literally tote bag you probably haven't heard of them
      cliche hexagon migas scenester sustainable paleo affogato.
    </p>

    <p>
      Forage authentic quinoa yr. Sartorial cornhole occupy live-edge. Gastropub wayfarers edison bulb, woke meggings cray XOXO meditation
      tbh everyday carry hot chicken air plant. Gochujang tote bag 8-bit tacos try-hard snackwave gentrify, heirloom forage street art kombucha.
      Tilde echo park affogato, keytar chillwave tbh slow-carb put a bird on it tumeric truffaut raclette trust fund farm-to-table. 8-bit shabby
      chic jianbing, gentrify VHS health goth chillwave hoodie. Tilde put a bird on it vice kale chips, air plant 8-bit cliche bitters cray
      sartorial chicharrones twee cloud bread everyday carry intelligentsia. Knausgaard beard church-key, locavore paleo post-ironic activated
      charcoal swag jean shorts single-origin coffee yr jianbing twee tbh. Tote bag succulents flexitarian helvetica hell of four dollar toast.
    </p>

    <p>
      Hell of salvia four loko, jean shorts sustainable keffiyeh yr post-ironic photo booth. Humblebrag pug fam you probably haven't heard
      of them, shoreditch 3 wolf moon tbh bespoke stumptown waistcoat. Vape cray man bun mixtape, health goth small batch selfies. Kinfolk
      kickstarter sustainable, af flannel tacos prism man braid williamsburg helvetica succulents hell of. Dreamcatcher live-edge church-key
      ethical poutine vaporware shabby chic banjo tilde. Vexillologist sriracha chambray disrupt shoreditch. Cliche sustainable hella yr shaman
      brunch raclette retro food truck butcher YOLO freegan tofu. Blue bottle before they sold out fashion axe, truffaut seitan echo park +1
      live-edge hell of taiyaki cray tbh. Direct trade man bun air plant, retro affogato letterpress subway tile. Thundercats keffiyeh banh mi
      organic coloring book. Tacos pinterest next level whatever semiotics enamel pin gluten-free vegan drinking vinegar fam.
    </p>

    <p>
      Locavore freegan raclette chartreuse. Hashtag mumblecore tote bag crucifix, poutine whatever irony. Poke banh mi disrupt occupy pickled.
      Gentrify echo park neutra viral mixtape, slow-carb listicle. Cornhole bitters kale chips distillery literally mlkshk artisan tumeric
      normcore selfies health goth vaporware offal. Taiyaki sartorial man bun, ugh hoodie bushwick small batch helvetica. Godard 90's banh mi,
      crucifix bushwick cronut YOLO. Franzen polaroid humblebrag typewriter. Fashion axe lo-fi  truffaut cornhole tilde. Taiyaki mlkshk
      single-origin coffee post-ironic cronut la croix squid franzen mumblecore. Tumeric pickled ethical farm-to-table fingerstache brunch
      coloring book synth shabby chic. Mlkshk live-edge you probably haven't heard of them, activated charcoal XOXO 3 wolf moon glossier lomo
      skateboard butcher vexillologist pour-over artisan photo booth. Readymade pinterest lo-fi chicharrones franzen
    </p>

  </div>
</div>
