.card-header-text {
  font-size: 36px;
  color: $primary-color;
}

.input-field input[type=text]:focus {
  color: $primary-color;
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.submit_button {
  background: $primary-color !important;
}
