// $primary-color: #7986cb;//indigo lighten-2
// $primary-color-darken: #5c6bc0;//indigo lighten-1
// $primary-color-light: #c5cae9; //indigo lighten-4
$primary-blue-gray: #33334C;
$primary-light-purple: #9d9dea;
$accent-baddass: #b4d455;
