.navbar {
  // background-color: $primary-blue-gray !important;
  background-color: white;
  opacity: .95;
  padding: 10px 30px;
  .navbar-brand {
    color: $primary-blue-gray;
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $primary-blue-gray;
          &.active {
            // color: $accent-baddass;
            border-bottom: solid 2px $accent-baddass;
          }
        }
        .dropdown-menu.show {
          .dropdown-item {
            color: $primary-blue-gray;
          }
        }
      }
    }
  }
}
