.posts.index {
  margin-bottom: 50px;
  .jumbotron.jumbotron-fluid {
    background: white;
    color: $primary-blue-gray;
  }

  .container.post-container {
    .row {
      margin-top: 75px;
      .card {
        height: 430px;
        border-radius: 30px;
        .card-body {
          .card-title {
            color: $primary-blue-gray;
          }
          .card-text {
            font-weight: 300;
            text-decoration: none;
            color: $primary-blue-gray;
            height: 145px;
          }
          .read-more-button.text-center {
            a {
              bottom: 0;
              color: $primary-blue-gray;
              border: solid 1px $primary-blue-gray;
              margin: 0;
            }
            a:hover {
              color: white;
              background-color: $primary-blue-gray;
            }
          }
        }
        img {
          z-index: 999;
          background-color: $primary-blue-gray;
          max-height: 160px;
          opacity: .85;
          border-radius: 30px 30px 0 0;
        }
      }
    }
  }

  .container.post-admin-container {
    table {
      font-weight: 300 !important;
      .table-header {
        border-top: none;
      }
    }
    .new-post-button-div {
      padding: 2% 1%;
    }
  }
}

.posts.new, .posts.edit {
  .container {
    margin-top: 150px;
    margin-bottom: 150px;
    .list-group-item.list-group-header {
      background: $primary-blue-gray;
      color: white;
      h4 {
        span.light-text {
          font-weight: 100;
        }
      }
    }
    .list-group-item {
      color: $primary-blue-gray;
      font-weight: 300px;
    }
    .custom-form-submit-btn {
      background: $primary-blue-gray;
      color: white;
      float: right;
      margin-top: 10px;
      font-weight: 100;
    }
  }
}
