.posts.index {
  .row {
    margin-top: 100px;
    .card {
      .card-content {
        color: #444444;
        height: 200px;
      }
      img {
        max-height: 160px;
        max-width: 260px;
      }
    }
  }
}
