.posts.index {
  .row {
    margin-top: 75px;
    .card {
      text-decoration: none;
      .card-title {
        color: $primary-blue-gray;
      }
      .card-text {
        color: #444444;
        height: 170px;
      }
      img {
        max-height: 160px;
      }
    }
  }
}
