.projects.index {
  margin-bottom: 50px;

  .row {
    margin-top: 30px;
    .project-card {
      overflow: hidden;
      border-radius: 10px;
      margin: 10px;
      border: solid 1px rgba(0, 0, 0, .125);
      .col-md-3 {
        height: 240px;
        width: 360px !important;
        padding-left: 0;
        img {
          display: block;
          border-radius: 10px 0 0 10px;
          opacity: .85;
          width: 360px;
          height: 240px;
        }
        h4 {
          position: relative;
          margin: 5px;
          z-index: 1;
          padding: 5px;
          position: absolute;
          color: white;
        }
      }
      .col-md-9.project-card-content {
        padding: 25px 50px;
        max-width: 720px;
        font-weight: 300;
        // margin-right: 0;
        // max-width: 100%;
        // height: inherit;
      }
    }
  }

  .container.project-admin-container {
    font-weight: 100;
    .new-post-button-div {
      padding: 2% 1%;
    }
    .table-header {
      font-weight: 300;
      color: $primary-blue-gray;
      border-top: none;
    }
  }
}

.projects.new, .projects.edit {
  .container {
    margin-top: 150px;
    margin-bottom: 150px;
    .col-md-4 {
      .list-group {
        height: 100%;
        .list-group-item.list-group-header {
          height: 100%;
          background: $primary-blue-gray;
          color: white;
          h4 {
            span.light-text {
              font-weight: 100;
            }
          }
        }
        .list-group-item {
          height: 100%;
          color: $primary-blue-gray;
          font-weight: 300px;
        }
      }
      .custom-form-submit-btn {
        background: $primary-blue-gray;
        color: white;
        // float: right;
        margin: 10px 10px 0 0;
        font-weight: 100;
      }
    }
    .col-md-8.tinymce-content {
      height: 100%
    }
  }
}
