 // @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "mycolors";
 @import "accounts";
 @import "navbar";
 @import "home";
 @import "posts";
 @import "projects";

html {
  font-size: 16px;
  body {
    background: white;
    font-family: 'Oxygen', sans-serif;
    .container {
      padding-top: 10px;
    }

    .jumbotron.jumbotron-fluid {
      font-family: 'Oxygen', sans-serif;
      background: white;
      color: $primary-blue-gray;
      padding-bottom: .5rem;
    }

    footer {
      height: 1.5rem;
    }
  }
  }
