 // @import "bootstrap-sprockets";
 @import "bootstrap";
 // @import "materialize/components/color";
 @import "mycolors";
 @import "accounts";
 // @import "materialize";
 @import "navbar";
 @import "home";
 @import "posts";
 @import "projects";

html {
  font-size: 16px;
  background: white;
  .container {
    padding-top: 10px;
  }
}
