<div class='navbar navbar-default'>
  <div class='containter'>
    <a class='navbar-brand' href='/'>
      Home
    </a>
    <ul class='nav navbar-nav pull-right navbar-list-items'>
      <li class='nav-item'>
        <%= link_to 'Current Projects', root_path %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Blog', root_path %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Resume', root_path %>
      </li>
    </ul>
  </div>
</div>
